.keep-the-rhyhtm
.obsidian


.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
copilot/copilot-conversations/Chapter_6_Beatmap_Summary@20260408_193850.md
copilot/copilot-conversations/Summarization_Request@20260408_195814.md
copilot/copilot-conversations/Summarize_Request@20260408_200647.md
copilot/copilot-custom-prompts/Clip Web Page.md
copilot/copilot-custom-prompts/Clip YouTube Transcript.md
copilot/copilot-custom-prompts/Emojify.md
copilot/copilot-custom-prompts/Explain like I am 5.md
copilot/copilot-custom-prompts/Fix grammar and spelling.md
copilot/copilot-custom-prompts/Generate glossary.md
copilot/copilot-custom-prompts/Generate table of contents.md
copilot/copilot-custom-prompts/Make longer.md
copilot/copilot-custom-prompts/Make shorter.md
copilot/copilot-custom-prompts/Remove URLs.md
copilot/copilot-custom-prompts/Rewrite as tweet thread.md
copilot/copilot-custom-prompts/Rewrite as tweet.md
copilot/copilot-custom-prompts/Simplify.md
copilot/copilot-custom-prompts/Summarize.md
copilot/copilot-custom-prompts/Translate to Chinese.md
copilot/memory/Recent Conversations.md
.DS_Store
copilot/copilot-conversations/Flock-Music_Synopsis_Request@20260408_222101.md
copilot/copilot-conversations/Format_File,_No_Content_Change@20260408_213905.md
copilot/copilot-conversations/Hidden_Recent-Line_Insights@20260408_231354.md
copilot/copilot-conversations/Literary_Style_Analysis@20260408_233103.md
copilot/copilot-conversations/Novel_Context_Knowledge_Base@20260409_095312.md
copilot/copilot-conversations/Tail_File_Insights@20260408_231956.md
copilot/copilot-custom-prompts/Make shorter copy 2.md
copilot/copilot-custom-prompts/Make shorter copy.md
copilot/copilot-custom-prompts/next.md
copilot/copilot-custom-prompts/old/Clip Web Page.md
copilot/copilot-custom-prompts/old/Clip YouTube Transcript.md
copilot/copilot-custom-prompts/old/Emojify.md
copilot/copilot-custom-prompts/old/Explain like I am 5.md
copilot/copilot-custom-prompts/old/Fix grammar and spelling.md
copilot/copilot-custom-prompts/old/Generate glossary.md
copilot/copilot-custom-prompts/old/Generate table of contents.md
copilot/copilot-custom-prompts/old/Make longer.md
copilot/copilot-custom-prompts/old/Make shorter.md
copilot/copilot-custom-prompts/old/Remove URLs.md
copilot/copilot-custom-prompts/old/Rewrite as tweet thread.md
copilot/copilot-custom-prompts/old/Rewrite as tweet.md
copilot/copilot-custom-prompts/old/Simplify.md
copilot/copilot-custom-prompts/old/Summarize.md
copilot/copilot-custom-prompts/old/Translate to Chinese.md
copilot/copilot-custom-prompts/true.md
copilot/memory/Book Synopsis.md
copilot/memory/Flock-Music Context KB.md
copilot/system-prompts/Default.md
/copilot
/copilot
/copilot
